@using DeVesen.Bazaar.Client.Components.Common.MainLayout
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme="@MainTheme.GeTheme()" IsDarkMode="true" />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="vw-100 vh-100 d-flex flex-column">
    <MudPaper Outlined Class="m-1 p-2 rounded-lg d-flex flex-row justify-space-between" Elevation="2">
        <div class="w-100 align-content-center">
            <MainLayoutTitleBar/>
        </div>
        <div class="align-content-center menu-button-toggler">
            <button title="Navigation menu" Class="navbar-toggler" @onclick="ToggleNavMenuAsync">
                <MudIcon Icon="@Icons.Material.TwoTone.Menu"/>
            </button>
        </div>
    </MudPaper>
    <div Class="d-flex flex-row flex-grow-1">
        <div Class="flex-grow-0 sidebar sidebar-toggler">
            <MudPaper Outlined Class="m-1 p-2 rounded-lg" Elevation="2">
                <NavMenu HideNavigation />
            </MudPaper>
        </div>
        <MudPaper Outlined Class="m-1 p-2 rounded-lg flex-grow-1" Elevation="2">
            @Body
        </MudPaper>
    </div>
</div>

<MudDrawer @bind-Open="@_showSidebar" Anchor="@Anchor.Left" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true">
    <NavMenu HideNavigation />
</MudDrawer>

@code {
    private bool _showSidebar;

    private async Task ToggleNavMenuAsync()
    {
        _showSidebar = !_showSidebar;

        await Task.CompletedTask;
    }
}