<style>
    .nav-scrollable-content {
        height: calc(100vh - 90px);
        min-height: calc(100vh - 90px);
        max-height: calc(100vh - 90px);
    }
</style>

<div class="@NavMenuCssClass nav-scrollable">
    
    <MudNavMenu Dense Rounded="true" Margin="Margin.Normal" Class="pa-2">
        
        @if (HideNavigation is false)
        {
            <MudNavLink Href="/articles" Icon="@Icons.Material.TwoTone.Article">Annahme</MudNavLink>
            <MudNavLink Href="/sales" Icon="@Icons.Material.TwoTone.ShoppingCart">Verkauf</MudNavLink>
            <MudNavLink Href="/GiveBack" Icon="@Icons.Material.TwoTone.ShoppingCart">Rückgabe</MudNavLink>

            <MudDivider />

            <MudNavLink Href="/vendors" Icon="@Icons.Material.TwoTone.PersonSearch">Verkäufer</MudNavLink>
            <MudNavLink Href="/article-category" Icon="@Icons.Material.TwoTone.Category">Artikel Kategorieren</MudNavLink>
            <MudNavLink Href="/article-manufacturer" Icon="@Icons.Material.TwoTone.Build">Artikel Hersteller</MudNavLink>
        }

    </MudNavMenu>

</div>

@code {
    private bool _collapseNavMenu = false;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    [Parameter]
    public bool HideNavigation { get; set; } = false;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
