@using DeVesen.Bazaar.Client.Models
@using DeVesen.Bazaar.Client.Components.Common.TextField
@using DeVesen.Bazaar.Client.Pages.Vendor.Components

<style>

    .to-action-left {
        padding-left: .5rem;
    }
    .to-action-right {
        padding-left: .5rem;
    }

    @@media (max-width: 550px) {
        .wrap-overview {
            flex-wrap: wrap;
            gap: 6px;
        }

        .to-action-left {
            padding-left: 0;
        }

        .to-action-right {
            padding-left: 0;
        }
        .action-short-content {
            width: 100% !important;
            justify-content: center !important;
            padding-bottom: .5rem;
        }
    }
</style>

<MudPaper Class="d-flex wrap-overview flex-grow-1 to-action-right">
    <MudGrid Spacing="2" Class="flex-shrink-1">
        <MudItem xs="12">
            @if (ShowVendorSelection)
            {
                <VendorSelector Item="Vendor"
                                ItemChanged="@VendorChanged"
                                Disabled="@DisableVendorSelection"
                                DisableNewItem="@DisableNewItem" />
            }
            else
            {
                <MudText Typo="Typo.h3">@Vendor?.GetTotalName()</MudText>
            }
        </MudItem>
        <MudItem xs="3">
            <DvTextField T="string"
                         Label="Nummer"
                         DebounceInterval="500"
                         Value="@Number"
                         ValueChanged="@NumberChanged" />
        </MudItem>
        <MudItem xs="9">
            <DvTextField T="string"
                         Label="Freitextsuche"
                         DebounceInterval="500"
                         Value="@SearchText"
                         ValueChanged="@SearchTextChanged" />
        </MudItem>
    </MudGrid>
    
    <div class="d-flex to-action-left action-short-content">
        @ChildContent
    </div>
        
</MudPaper>

@code {
    [Parameter]
    public Vendor? Vendor { get; set; }

    [Parameter]
    public string? Number { get; set; }

    [Parameter]
    public string? SearchText { get; set; }

    [Parameter]
    public bool DisableVendorSelection { get; set; }

    [Parameter]
    public bool ShowVendorSelection { get; set; } = true;

    [Parameter]
    public bool DisableNewItem { get; set; }

    [Parameter]
    public EventCallback<Vendor?> VendorChanged { get; set; }

    [Parameter]
    public EventCallback<string?> NumberChanged { get; set; }

    [Parameter]
    public EventCallback<string?> SearchTextChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
