
<div class="article-label-area">
    <div class="d-flex flex-row">
        <div>
            <MudIcon Icon="@Icon"
                     Size="Size.Medium"></MudIcon>
        </div>
        <div class="px-2">
            <QrCode ElementId="@($"id-{Number}")"
                    Width="100"
                    height="100"
                    Text="@Number">
            </QrCode>
            <MudText Align="Align.Center"
                     Typo="Typo.body2"
                     Class="w-100">@Number</MudText>
        </div>
        <div class="w-100 d-flex flex-column">
            <div class="d-flex justify-end">
                <MudIcon Icon="@Icon"
                         Size="Size.Medium"></MudIcon>
            </div>
            <MudText Class="w-100"
                     Align="Align.Right"
                     Typo="Typo.h2">@($"{Price} €")</MudText>
            <MudText Class="w-100"
                     Align="Align.Center"
                     Typo="Typo.body2">@Description</MudText>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required string Number { get; set; }

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string Price { get; set; } = string.Empty;

    [Parameter]
    public string Icon { get; set; } = string.Empty;
}
